ipykernel
ipywidgets
torch
transformers
trl
scikit-learn
matplotlib
evaluate
peft
optimum
auto-gptq
bitsandbytes
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-gpu
dvc
dvc-gdrive
googletrans==4.0.0-rc1